*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
button{
    border: none;

}

ul, ol, li{
    list-style: none;
}
body{
    height: 115vh;
    width: 100vw;
    padding-right: 10vw;
    padding-left: 7vw;
    padding-top: 2vw;
    background-image: url(./img/tela_de_fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1D4E89;
    padding: 5px ;
    height: 12%;
}

header h1 {
    font-size: 2.7rem; /* Aumenta o tamanho da fonte do texto "HomeCare" */
    padding-right: 1px; /* Adiciona espaçamento à direita para dar mais largura */
    font-weight: bold; /* Deixa o texto mais destacado */
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    font-size: 1.2rem;
    gap: 10px;
}

header button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F6AAE;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 1.1rem;
    color: aliceblue;
}

main{
    height: 100%;
    display: flex;
}

.esquerda{
    width: 35%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100%;
    padding:  25px;

    
}

.cima{
    height: 55%;
    margin-top: -35px;
}

.cima h2{
    font-size: 62px;
}
.cima p {
    font-size: 24px; /* Aumente o valor conforme necessário */
    width: 80%; /* Ajuste a largura se quiser que o texto ocupe mais espaço */
}
.cima div{
    display: flex;
    width: 70%;
}

.cima div button{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 15px;
    font-size: 20px;
    width: 45%;
    margin-inline: 1%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.dowApp{
    background-color: #2F6AAE;
    border: 1px solid #000000;
    color: aliceblue;
}

.More {
    background-color: #ffffff;
    border: 1px solid #2F6AAE;
    color: #2F6AAE;
}


.baixo{
    height: 40%;
}

.cartela {
    width: 80%;
    height: 40%;
    margin-top: -320px; /* Ajuste o valor conforme necessário */
}


.direita{
    position: relative;
    width: 50%;
}

.celular{
    position: absolute;
    height: 50%;
    background-color: #4682b4;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 26%;
    left: 60%;
}

.cartela img {
    width: auto;
    height: 100%; /* ou um valor maior, como 150% para aumentar ainda mais */
}

.celular img {
    width: auto;
    height: 100%; /* ou um valor maior, como 150% para aumentar ainda mais */
}
